site_name: BioKB ChEBI Documentation
site_url: https://biokb-chebi.readthedocs.io/
repo_url: https://github.com/biokb/biokb_chebi
theme: 
  name: material
  font:
    text: Mulish
  logo: assets/logo.png
  favicon: images/logo.png
  features:
    - navigation.footer
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
    - navigation.sections     # left sidebar (files)
    - toc.follow              # right sidebar (headings)
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: custom
      accent: custom
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: custom
      accent: custom
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - toc:
      title: On this page
nav:
  - Home: index.md
  - Installation: installation.md
  - Query: query.ipynb
  - Database Management: database_management.md
  - ChEBI Integration: chebi_integration.md
  - FAQ: faq.md
extra:
  generator: false

plugins:
  - search
  - mkdocs-jupyter:
      execute: false

# Optional but recommended for RTD      
site_url: !ENV READTHEDOCS_CANONICAL_URL